*{
    color: rgb(255, 255, 255);
    font-family: Poppins;
}
.Grid{
   
-webkit-column-count: 4;
column-count: 4;
-webkit-column-width: 33%;
column-width: 33%;
-webkit-column-gap: 100;
padding: 20vh 15vw;
font-family: Poppins;
    

img{
        width: 100%;
    }
    
}

.Grid .Card{
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: Poppins;
    width: 15vw;
}

/*model*/

.model{
    color: black;
    width: 100%;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity .4s ease, visibility .4 ease, transform .5s ease-in-out ;
    visibility: hidden;
    opacity: 0;
    transform: scale();
    overflow: hidden;
    z-index: 999;
    .desc{
        color: black;
    }
    .close{
        width: 2vw;
        height: 26vh;
        margin-top: -80vh;
        cursor: pointer;
    }
}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: sacle(1);
    color: black;

}

.model img{
    max-width: 45vw;
    width: 150;
    height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
    padding-top: 20vh;
}
