*{
    color: rgb(255, 255, 255);
    font-family: Poppins;
}
.Grid{
   
-webkit-column-count: 4;
column-count: 4;
-webkit-column-width: 33%;
column-width: 33%;
-webkit-column-gap: 100;
padding: 20vh 15vw;
font-family: Poppins;
    

img{
        width: 100%;
    }
    
}

.Grid .Card{
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: Poppins;
    width: 15vw;
}
