
.Header{
  .HeaderContent
    {
        height: 8vh;
        width: 100vw;
        background-attachment: fixed;
        position:fixed;
        z-index: 9999;
        background-color: rgb(2, 99, 73);
        padding-top: 5vh;
        color:white;
        font-family: Poppins;
        font-size: 3vh;
    }
}