
.Header{
  .HeaderContent
    {
        height: 8vh;
        width: 100vw;
        background-attachment: fixed;
        position:fixed;
        z-index: 9999;
        background-color: rgb(27, 126, 151);
        padding-top: 5vh;
        color:white;
        font-family: Poppins;
    }
}